<!doctype html>
<html lang="en" class="pico"> <!-- put the pico class here (or on <body> if you prefer) -->
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <link rel="icon" href="/icon.png">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css">
  <title>Calculators</title>
</head>

<body>
  <header>
    <div class="container">
      <nav>
        <div><%= link_to "Calculators", "/" %></div>
        <div><%= link_to "Square Calculator", "/square/new" %></div>
        <div><%= link_to "Square Root Calculator", "/square_root/new" %></div>
        <div><%= link_to "Payment Calculator", "/payment/new" %></div>
        <div><%= link_to "Random Number Generator", "/random/new" %></div>
      </nav>
    </div>
  </header>

  <main class="container">
    <%= yield %>
  </main>
</body>
</html>
